.editor {
  counter-reset: line;
  /* border: 1px solid #ced4da; */
  /* overflow: scroll; */
}

.editor #codeArea {
  outline: none;
  padding-left: 60px !important;
  /* text-overflow: ellipsis;
  /* overflow: scroll; */
  /* overflow: scroll !important;  */
}

.editor pre {
  padding-left: 60px !important;
}

.editor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #cccccc;
  text-align: right;
  width: 40px;
  font-weight: 100;
}


.ss {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.ss::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}